@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
body {
  background-image: url('/src/logos/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  zoom: 80%;
  background-color: #282c35;
}

.navbar-toggler-icon{
  color: white;
}
.App {
  text-align: center;
}

.collapse {
  margin-top: 50px;
  padding-right: 350px;
}

.collapse a {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.collapse a:hover {
  text-decoration: line-through 4px violet;
  color: white;

}

.content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: violet;
}

.content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: white;
}


.content h1 {
  text-decoration: none;
  color: white;
  text-shadow: white 0px 0px 2px;
}

.content h1 span {
  color: violet;
}

.about {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 9.5rem 2rem;
}

.about h2 {
  font-size: 3rem;
  font-weight: 800;
  color: violet;
}

.about h2 span {
  font-size: 3rem;
  font-weight: 800;
  color: white;
}


.about h1 {
  text-decoration: none;
  color: white;
  text-shadow: white 0px 0px 2px;
}

.about h1 span {
  font-size: 1rem;
  color: violet;
  text-shadow: none;
}

.image-container {
  perspective: 1000px;
  width: 250px;
  height: 200px;
  margin-bottom: -30px;
  position: relative;
  clip-path: circle(32% at 50% 43%);
  cursor: pointer;
  animation: float 3s ease-in-out infinite;

}

.image-container img {
  transition: transform 0.5s;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.image-container:hover {
  animation: pulse 0.5s ease-in-out;
}

.image-container.flipped img {
  transform: rotateY(180deg);
}

.image-container.flipped:nth-child(1) img {
  background-image: url('/src/logos/photohex.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -25px -10px;
}

.image-container.flipped:nth-child(2) img {
  background-image: url('/src/logos/instahex.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -25px -10px;
}

.image-container.flipped:nth-child(3) img {
  background-image: url('/src/logos/linkhex.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -25px -10px;
  transform: rotateY(180deg) scaleX(-1);
}

.image-container.flipped:nth-child(4) img {
  background-image: url('/src/logos/resumehex.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -25px -10px;
  transform: rotateY(180deg) scaleX(-1);
}

.image-container.flipped:nth-child(5) img {
  background-image: url('/src/logos/skillhex.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -25px -10px;
  transform: rotateY(180deg) scaleX(-1);
}

.hexagon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
}

.skills {
  padding: 5rem 0 2.5rem 0;
  color: violet;
}

.skills>.text {
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
  color: white;
}

.skills .row {
  margin: 1rem 0;
}

.skills .item {
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}

.skills .item-text {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
  color: white;
}

.skills .item-text span:last-child {
  position: absolute;
}

.skills .item-text .w-90 {
  margin-left: 85%;
  color: white;
}

.skills .item-text .w-75 {
  margin-left: 40%;
  color: white;
}

.skills .item-text .w-85 {
  margin-left: 80%;
  color: white;
}

.skills .item-text .w-80 {
  margin-left: 75%;
  color: white;
}

.skills .item-text .w-60 {
  margin-left: 55%;
  color: white;
}

.skills .item-text .w-68 {
  margin-left: 63%;
  color: white;
}

.progress {
  margin: 0.8rem 0;
  border-radius: 10px;
  height: 16px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.progress-bar {
  background: violet;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.progress-bar.w-90 {
  width: 90%;
}

.progress-bar.w-75 {
  width: 75%;
}

.progress-bar.w-85 {
  width: 85%;
}

.progress-bar.w-80 {
  width: 80%;
}

.progress-bar.w-60 {
  width: 60%;
}

.progress-bar.w-68 {
  width: 68%;
}

.gallery {
  margin-top: 50px;
}

.gallery img {
  width: 100%; /* Set the width to 100% to make the images responsive */
  max-width: 60\0px; /* Set the maximum width for smaller screens */
  height: auto; /* Maintain aspect ratio */
  margin: 5px;
  margin-top: 50px;
  box-shadow: black 0px 0px 9px 2px;
}

@media screen and (max-width: 430px) {
  .gallery img {
    max-width: 100%; /* Set the maximum width to 100% for screens smaller than 430px */
  }
}

/***** Section *****/ 
.icon-cards {
  padding-top: 80px;
  display: block;
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: auto;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  border-radius: 6px;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.icon-cards__item:nth-child(1) {
  background: #af35fa;
  transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
  background: #5e06a5;
  transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
  background: #c300ff;
  transform: rotateY(240deg) translateZ(35vw);
}
@keyframes carousel {
  0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
 }
  27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
 }
  55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
 }
  82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
 }
}

.checkbox {
  position: relative;
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f47956;
  transition: color 0.3s ease;
  user-select: none;
}
.checkbox:hover {
  color: #f7a95a;
}
.checkbox__checkbox {
  position: relative;
  top: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background: white;
  border: 1px solid currentColor;
  border-radius: 4px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.checkbox__checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.checkbox__label {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox > input:checked ~ .checkbox__checkbox {
  border-color: transparent;
  background: #f47956;
  animation: jelly 0.6s ease;
}
.checkbox > input:checked ~ .checkbox__checkbox:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.chatbot-container {
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Adjust this value to position the chatbot vertically */
  left: -200px; /* Start position off the screen */
  animation: moveRight 10s linear infinite; /* Adjust animation duration and timing function as needed */
  transition: left 0.5s ease;
}
.chatbot-container .open{
  animation: none;
}

p{
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: white;
}
@keyframes moveRight {
  0% {
      left: -200px; /* Start position off the screen */
  }
  100% {
      left: calc(100% - 350px); /* End position on the right side */
  }
}

@keyframes jelly {
  from {
      transform: scale(1, 1);
 }
  30% {
      transform: scale(1.25, 0.75);
 }
  40% {
      transform: scale(0.75, 1.25);
 }
  50% {
      transform: scale(1.15, 0.85);
 }
  65% {
      transform: scale(0.95, 1.05);
 }
  75% {
      transform: scale(1.05, 0.95);
 }
  to {
      transform: scale(1, 1);
 }
}
 /***** End Section *****/

 /***** Section *****/ 
 .card{
  box-shadow: #af35fa 0px 0px 5px 5px;
  background-color: #282c35;
 }
 .chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll ;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}



.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}
  /***** End Section *****/
 
/***** Section *****/ 
.loadFont {
    font-family: 'Poiret One', cursive;
}
#progressive {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

/* Transition speed for progress bar */
.six-sec-ease-in-out {
    -webkit-transition: width 3s ease-in-out;
    -moz-transition: width 3s ease-in-out;
    -ms-transition: width 3s ease-in-out;
    -o-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out;
}

#shadow {
    border-radius: 10px;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/* Add styles for dark mode */
.dark-mode {
  background-color: #282c35;
  color: white;
}

/* Additional styles for dark mode */
.dark-mode .navbar-toggler-icon {
  color: white;
}

.dark-mode .collapse a {
  color: white;
}

/* Add styles for light mode */
.light-mode {
  background-color: white;
  color: #282c35;
  /* Define your light mode styles here */
}
 /***** End Section *****/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  overflow: hidden; /* This prevents any overflow from the hover effect */
}

.resume-container img {
  max-width: 100%;
  height: auto;
}

.download-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .resume-container img {
    width: 100%;
    height: auto;
  }
}